<div class="container-xl d-flex">
    <button class="btn btn-large btn-info" [routerLink]="['/category', firstCategory]" [disabled]="disabled">Start shopping</button>
</div>
<div class="container-xl">
    <h1>Choose from our top categories:</h1>
    <div class="row">
        <div *ngFor="let category of items; let i = index" class="card col-md-3 col-sm-6 p-3 d-flex" (click)="goTo(category.key)">
            <h1>{{category.name}}</h1>
            
        </div>
    </div>
</div>
<div *ngFor="let product of products">
    <h1>{{product.name}}</h1>
</div>

