<div class="container my-3">
    <h1 class="text-center">Profile Page</h1>
</div>

<div class="row mt-1 justify-content-md-center">
    <div class="col-lg-4 mb-3">
        <div class="card text-center">
            <div class="card-header">
                <h3>Name: {{user?.firstname}} {{user?.lastname}}</h3>
            </div>
            <div class="card-body row justify">
                <p>Address: {{user?.adress}}</p>
                <p>Mobile phone: {{user?.phone}}</p>
                <p>Email: {{user?.username}}</p>
                <button class="btn btn-primary btn-lg" (click)="edit()">Edit</button>
            </div>
        </div>
    </div>
</div>