<div class="container">
    <div class="py-3">
        <h1 class="text-center">Your Orders</h1>
    </div>

    <div class="row mt-1 justify-content-md-center">
        <div *ngFor="let order of orders" class="col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title mb-1">{{order.product.name}}</h4>
                </div>
                <div class="card-body row justify">
                    <p>Price: {{order.product.price}}</p>
                    <p>Quantity: {{order.total}}</p>
                    <h3>Total price: {{order.product.price * order.total}}</h3>
                    <button (click)="delete(order)" class="btn btn-danger btn-lg">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>