<div class="container">
    <div class="py-3">
        <h3>Search Text:</h3>
        <input [(ngModel)]="searchText" type="text" placeholder="Search by title" class="form-control">
    </div>
    <div class="row mt-1">
        <div *ngFor="let product of products | filter : searchText ; index as i" class="col-lg-4 mb-3">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title mb-1">{{product.name}}</h4>
                </div>
                <div class="card-body justify-content-center row">
                    <div class="col">
                        <button (click)="seeDetails(i)" class="btn btn-info btn-lg">Details</button>
                    </div>
                    <div  *ngIf="isAdmin"  class="col">
                        <button (click)="edit(i)" class="btn btn-primary btn-lg">Edit</button>
                    </div>
                    <div *ngIf="isAdmin" class="col">
                        <button (click)="delete(product)" class="btn btn-danger btn-lg">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>